<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/static/static/stylesheets/style.css' />
</head>

<body>
  <div class="fed-wrapper">
    <div class="fed-system">
      <div class="fed-system-doc">
        <div class="fed-system-header">文档系统</div>
        <a href="/docs/sword">
          <img src="//yun.duiba.com.cn/tuia/test/8NqSd1521189085843.jpeg" />
          <div class="fed-system-title">1</div>
        </a>
        <a href="/docs/activity">
          <img src="//yun.duiba.com.cn/tuia/test/qxUMH1521189070601.png" />
          <div class="fed-system-title">2</div>
        </a>
        <a href="/docs/IndActivity">
          <img style="opacity: 0.6;" src="//yun.duiba.com.cn/h5/activity/custom/HandyRedbag/canrob.png?x-oss-process=image/format,webp"
          />
          <div class="fed-system-title">3</div>
        </a>

        <a href="/docs/duiba-h5-core">
          <img style="opacity: 0.6;" src="https://static1.squarespace.com/static/57cc2fda8419c2fd019dc16f/t/58227a14be65942f5d75353f/1527573572204/"
          />
          <div class="fed-system-title">4</div>
        </a>
        <a>
          <img src="//yun.duiba.com.cn/tuia/test/mcXki1521189051316.png" />
          <div class="fed-system-title">敬请期待</div>
        </a>

      </div>


      <div class="fed-system-anime">
        <div class="fed-system-header">重要的系统</div>

        <a href="http://sword.dui88.com/#">
          <img src="//yun.duiba.com.cn/tuia/test/8NqSd1521189085843.jpeg" />
          <div class="fed-system-title">11</div>
        </a>

        <a href="http://sword.dui88.com/#animes">
          <img src="//yun.duiba.com.cn/tuia/test/5b9o31521189003351.png" />
          <div class="fed-system-title">22</div>
        </a>

        <a href="http://fed.dui88.com/playground/">
          <img src="https://gw.alipayobjects.com/zos/rmsportal/rqKQOpnMxeJKngVvulsF.svg" />
          <div class="fed-system-title">33</div>
        </a>

        <a>
          <img src="//yun.duiba.com.cn/tuia/test/mcXki1521189051316.png" />
          <div class="fed-system-title">敬请期待</div>
        </a>
      </div>
    </div>
  </div>
</body>

</html>